{% extends 'base.html' %}
{% block content %}

<!-- Nav 
<nav id="nav">
    <ul>
        <li><a href="{%url 'home'%}#timetable">공연시간</a></li>
        <li><a href="{%url 'home'%}#lineup">라인업</a></li>
        <li><a href="{%url 'home'%}#map">지도</a></li>
        <li><a href="{%url 'pubintro' 1 %}" class="active">주점소개</a></li>
        <li><a href="{%url 'shareboard'%}">합석</a></li>
    </ul>
</nav>
<div id="main"></div>-->
    <h1 style="padding-top: 100px;">비밀번호를 입력해주세요.</h1>
    <form action="{{post.id}}" method="POST">
        {% csrf_token %}
        <div>
            <input class="input_field" type="password" placeholder="글 비밀번호" name="input_pwd"><br>
        </div>
    <button class="write_button">Go!</button>
    </form>
    
    <!-- 비밀번호는 ajou2019festival --> 

{% endblock content %}