{% extends 'base.html' %}
{% block content %}

<!-- Nav -->
<nav id="nav">
    <ul>
        <li><a href="{%url 'home'%}#timetable">공연시간</a></li>
        <li><a href="{%url 'home'%}#lineup">라인업</a></li>
        <li><a href="{%url 'home'%}#map">지도</a></li>
        <li><a href="{%url 'pubintro' 1 %}">부스소개</a></li>
        <li><a href="{%url 'shareboard'%}" class="active">합석</a></li>
    </ul>
</nav>
    
<div id="main">
    <h1 id="test">test</h1>
    <div class="form_box">
        <form action="{{post.id}}" method="POST" enctype="multipart/form-data">{% csrf_token %}
            <!-- action 추가 필요 -->
            {% csrf_token %}
            <h2>게시물 올리기</h3>
            <input class="input_field" type="text" placeholder="글쓴이의 이름은?" name="owner_name"><br>
            <input class="input_field" type="password" placeholder="글 비밀번호" name="owner_pwd"><br>
            <input class="input_field" type="text" placeholder="제목을 입력해주세요." name="title"><br>
            <textarea class="textarea_field" placeholder="내용을 입력해주세요. ex) 연락처, 연락수단" name="contents"></textarea><br>
            <input type="file" name="picture" accept="image/x-png,image/gif,image/jpeg"><br>
            <button class="write_button">게시</button>
        </form>
    </div>
</div>



{% endblock content %}